<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDOF Vibration</title>

    <!-- 1. Add these JavaScript inclusions in the head of your page -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="bower_components/paper/dist/paper-full.min.js"></script>
    <script type="text/javascript" async src="bower_components/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap-slider/slider.js"></script>
    <script type="text/javascript" src="Vibration.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="Styles.css">


</head>

<body ng-app="app" ng-controller="VibrationCtrl">
    <div class="container">
        <div><h1> SDOF Vibration</h1></div>
        <div id="container">
            <canvas id="myCanvas" keepalive="true"></canvas>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="containerD" style="width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <h3>Input</h3>



                <form class="form-horizontal">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">\(m\)</div>
                            <input type="text" ng-model="m" class="form-control" style = "width:60px;" >
                            <slider ng-model="m" min="0.01" step="0.1" max="20" value="m" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(c\)</div>
                            <input type="text" ng-model="c" class="form-control" style="width:60px;">
                            <slider ng-model="c" min="0.0" step="0.01" max="10" value="c" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(k\)</div>
                            <input type="text" ng-model="k" class="form-control" style="width:60px;">
                            <slider ng-model="k" min="0.01" step="0.1" max="20" value="k" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(u_0\)</div>
                            <input type="text" ng-model="u0" ng-change="ResetYAxis()" class="form-control" style="width:60px;">
                            <slider ng-model="u0" ng-change="ResetYAxis()" min="0.0" step="0.1" max="10" value="u0" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(v_0\)</div>
                            <input type="text" ng-model="v0" ng-change="ResetYAxis()" class="form-control" style="width:60px;">
                            <slider ng-model="v0" ng-change="ResetYAxis()" min="0.0" step="0.1" max="10" value="v0" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(p_0\)</div>
                            <input type="text" ng-model="p0" ng-change="ResetYAxis()" class="form-control" style="width:60px;">
                            <slider ng-model="p0" ng-change="ResetYAxis()" min="0" step="0.1" max="10" value="p0" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">\(\Omega\)</div>
                            <input type="text" ng-model="Omega" ng-change="ResetYAxis()" class="form-control" style="width:60px;">
                            <slider ng-model="Omega" ng-change="ResetYAxis()" min="0.1" step="0.1" max="10" value="Omega" style="display: inline; float: right; width:175px; vertical-align: middle;"></slider>
                        </div>
                    </div>
                </form>
                    <button ng-click="Run()" class="btn btn-warning">Pause <span class="glyphicon glyphicon-pause"></span></button>
                   <button class="btn btn-success" ng-click="Restart()">Restart  <span class="glyphicon glyphicon-ok"></span></button>

            </div>

            <div class="col-md-3">
                <h3>System Properties</h3>
                <table class="table table-striped">
                    <tr><th>\(w_n\)</th><td>{{wn() | number: 2}} Rad/s</td></tr>
                    <tr><th>\(f_n\)</th><td>{{fn() | number: 2}} Hz</td></tr>
                    <tr><th>\(T_n\)</th><td>{{Tn() | number: 2}} s</td></tr>
                    <tr><th>\(\zeta\)</th><td>{{zeta() | number: 2}}</td></tr>
                    <tr><th>\(w_d\)</th><td>{{wd() | number: 2}} Rad/s</td></tr>
                </table>

                <h3 style="color:#0000ff;">$$P(t) = P_0 cos(\Omega t - \alpha)$$</h3>
            </div>
        </div>





    </div>
</body>
</html>